.basic {
    margin:2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
th {
    width: 4rem;
}
.header {
    border: 1px solid black;
    background-color: black;
    color:white;
}
.content {
    background-color: lightgray;
}