.basic {
    padding: 3rem 2.5rem;
}
.title {
    color: #FFFFFF;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.total {
    cursor: pointer;
    color: #FFFFFF;
    display:flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    padding-right: 2rem;
    align-items: center;
    gap:1rem;
}
.content {
    background-color: #15202a;
    display: flex;
    flex-direction: column;
}
.panel {
    padding-top: 3rem;
}